.container {
    padding: 0px 20px;
    position: absolute;
    width: calc(100vw - 250px);
    // width: 100%;
}

.tab-group {
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    a {
        color: #000;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;

        :visited, :active {
            text-decoration: none;
            color: #000;
        }
    }

    .active {
        color: #1a72b6;
        border-bottom: 5px solid #1a72b6;
    }
}