.page-container { 
  display: flex;
  flex-direction: row;  
}

.sidebar-container {
  height: 98vh; 
  width: 15%;
  margin-left: 1%;
  align-items: flex-start;
}

.sidebar-card {
  height: 98vh; 
  width: 15%; 
  margin-left: 10px;
  margin-right: 1%;
  margin-top: 50px;
  align-items: flex-end;
}
.main-content-container {
  height: 98vh; 
  width: 67%;  
  // overflow-y: scroll;
}
 .divider{
   height: 40px;
   display: flex
 }
 .card-holder{  
   margin-top: 10px;
}