.container {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #DAE9F4;
    background-color: #DAE9F4;
    border-radius: 12px;
    padding: 10px 3px;
    text-align: center;

    .item {
        text-align: center;
        align-items: center;
        background-color: #DAE9F4;
        padding: 10px 40px;
        cursor: pointer;
        color: #1b75bb;
    }

    .active {
        background-color: #1367aa;
        border-radius: 12px;
        color: #fff;
        font-weight: bold;
    }
}