.container {
  display: flex;
  flex-direction: row;
  // min-height: calc(100vh - 80px);
  height: 100%;

  .container-func {
    width: 50%;
    background: #f9f9f9;
    padding: 20px 0;
  }
  .container-img {
    width: 50%;
    background: url("../../../assets/Illustration.svg") no-repeat center;
  }
  .account-message {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
