.form-container {
    margin-top: 1rem;
    label,
    input {
        width: 100%;
        color: #2e384d;
    }
    label {
        font-size: 0.8rem;
        text-align: left;
    }
    input {
        border: solid 1px #e0e7ff;
        border-radius: 5px;
        margin-top: 0.3rem;
        padding: 0.8rem;
        font-size: 1rem;
        background-color: rgba(224, 231, 255, 0.2);
    }
}
